@import "tailwindcss";

/* Base variables (light) */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Dark variables (next-themes will add .dark to <html>) */
html.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* Optional but nice: makes native UI match */
html {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}